/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    box-sizing: border-box;
    vertical-align: baseline;
 }

 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block;
 }
 body {
   line-height: 1;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 strong, b {
   font-weight: bold;
 }
 em, i {
   font-style: italic;
 }
 a img {
   border: none;
 }
 /* END RESET*/

/* GLOBAL STYLES */ 
body {
    text-align: center;
    background: #000;
    color: #f5f5f5;
}                          
/* HEADER STYLES */

.header {
    background: #cc3030;
}

.header-name {
    background: #cc3030;
    float: left;
    font-size: 2rem;
    padding: 5vh 0;
    margin-left: 5%;
}

.header-nav {
    float:right;
    padding: 5.5vh 60px 0 0;
}

.header-nav > li {
    color: #f5f5f5;
    display: inline-block;
    font-family: "Roboto", Helvetica, sans-serif;
    list-style: none;
    margin-left: 1em;
    opacity:0.9;    
}

.header-nav >  a:first-child {
    color: #f5f5f5;

}

.header-nav > li:first-child a:hover {
    color: #000;
}


.header-nav a {
    background: #32cd32;
    border-radius: 20px;
    color: #f5f5f5;
    font-size: 1em;
    font-weight: bold;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
}

a:hover,
a:focus {
   background: #f5f5f5;
   color: #32cd32;
}



.full-hero img {
    background: #000;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Content Style */

.intro {
color:  #000;
background: #f5f5f5;
font-size: 1em;
font-family: Georgia;
width: 100%;
margin: 0 auto;
padding: 1em;
font-size: 1em;

}

.intro p {
    margin: 0 auto;
    padding: 5vh 0;
    text-align: justify;
    width:30%;
}

h2 {
    font-size: 2em;
    padding: 1em 0;
 }

 
ul > .skills {
    background-color: #32cd32;
    border-radius: 50px;
    color: #f5f5f5;
    display: inline-block;
    padding: 10px;
    margin: 1vh 5px;
    vertical-align: baseline;
    list-style: none;
    width: 15vw;
    
}
                                /* Graphic Design Page Style*/

.subtitles {
color: #f5f5f5;
    font-family: "futura", sans-serif;

}

                                    /* FOOTER STYLES */
.social-networks {
    width: 3vw;
}


                                    /*  Media Queries 

  @media only screen and (min-width: 1000px)
 {
    header {
        background-image: url("https://scontent-mia3-1.xx.fbcdn.net/v/t1.0-9/10459108_10154268229705228_2750053271951246018_n.jpg?_nc_cat=102&_nc_ht=scontent-mia3-1.xx&oh=a56347c3f5a3791ef6706b0c4d97c337&oe=5CF3589A");
        background-repeat: no-repeat;
        background-size: 60%;
        width: 100%;
        margin: auto;
}
    
}
.gd_img {
    width: 40%;
    display: inline-block;
    
}
.a {
    width: 80%;
    margin-top: 5%;
}
.b {
    width: 40%;
}
.c {
    width: 30%;
}

.d {
    width: 50%;
}
